@import 'tailwindcss';

/* Design Tokens for Tailwind v4 */
@theme {
  /* colors */
  --color-primary: #f9f871;
  --color-secondary: #d6e3ff;
  --color-tertiary: #008093;

  --color-primary-text: #1d1d1d;
  --color-secondary-text: #4a4a4a;
  --color-tertiary-text: #ffffff;


  --color-primary-heading: #f3e44c;
  --color-secondary-heading: #7aa8ff;
  --color-tertiary-heading: #006977;

  --color-surface: #f8fafc;
  --color-surface-dim: #f7f9fc;

  /* fonts - connected to `next/font` variables */
  --font-body: var(--font-inter);
  --font-heading: var(--font-work-sans);

 
}

:root {
  --background: var(--color-primary-text);
  --foreground: var(--color-primary-text);
}

/* Dark mode overrides */
@media (prefers-color-scheme: dark) {
  @theme {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Global CSS */
body {
  background: var(--background);
  color: var(--foreground);
}
