@import 'tailwindcss';

/* Design Tokens for Tailwind v4 */
@theme {
  /* colors */
  --color-primary: #f9f871;
 --color-secondary: #dae2ff;
--color-tertiary:  #5346d6;

  --color-primary-text: #1d1d1d;
  --color-secondary-text: #2f4578;
  --color-tertiary-text: #ffffff;

  --color-primary-heading: #f3e44c;
  --color-secondary-heading: #7aa8ff;
  --color-tertiary-heading: #006977;

  --color-surface: #f8fafc;
  --color-surface-dim: #f7f9fc;
  --color-surface-dark: #e2e8f0;

  --color-old-teal: #008093

  --color-test: #5b3fdc;

  /* fonts - connected to `next/font` variables */
  --font-body: var(--font-inter);
  --font-heading: var(--font-nunito-sans);
}

:root {
  --background: var(--color-primary-text);
  --foreground: var(--color-primary-text);
}

/* Dark mode overrides */
@media (prefers-color-scheme: dark) {
  @theme {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Global CSS */
body {
  background: var(--background);
  color: var(--foreground);
}
/*custom animaation for buttons*/
@keyframes glowBack {
  0% {
    transform: translateX(300%);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}
